
*{
  margin:0;
  padding:0;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #1e1f21;
  //navbar section
  .navBar{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    background-color: #1e1f21;
    margin: 0 0 10px 0;
    .navBarLeft{
      display: flex;
      width: 500px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .logo{
        display: flex;
        img{
          display: flex;
        }
      }
      .menu{
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        width: 35px;
        justify-content: column;
        justify-content: space-around;
        align-content: center;
        .menuBar{
          display: flex;
          width: 20px;
          height: 2px;
          background-color: white;
          margin: 2px 0;
        }
      }
      .topNews{
        display: flex;
        color: #acacad;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
        padding: 10px 12px 0 0 ;
        border-right: 0.5px solid gray;
      }
      .leagues{
        width: 200px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 10px 0 0 0;
      .league{
        display: flex;
        color: #acacad;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
      }
    }

  }
    .navBarRight{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 75px 0 0 ;
      .downloadPrompt{
        display: flex;
         button{
           color: white;
           font-family: 'Open Sans', sans-serif;
           font-size: 15px;
           height: 40px;
           background-color: #0078fd;
           border-radius: 5px;
        }
      }
    }
  }

  //end of navbar section
  .mainContent{
    margin-top: 100px;
    height: 100%;
    display: flex;
    width: 55%;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    .scoreRow{
      display: flex;
      width: 100%;
      height: 100px;
      justify-content: center;
      align-items: center;
        p{
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: bold;
          color: white;
          align-self: center;
        }
        .box{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: 72px;
          width: 190px;
          margin: 10px;
          border-radius: 4px;
          background-color: #1e1f21;
          .team1{
            justify-content: space-around;
            align-items: center;
            width: 190px;
            color: white;
            display: flex;
            height: 35px;
            font-size: 12px;
            font-weight: bold;
              img{
                display: flex;
                height: 20px;
              }
          }
          .team2{
            justify-content: space-around;
            width: 190px;
            color: white;
            display: flex;
            height: 35px;
            font-size: 12px;
            font-weight: bold;
            img{
              display: flex;
              height: 20px;
            }
            .date{
              font-weight: 100;
            }
          }
        }
        .button{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          width: 40px;
          background-color: #1e1f21;
          color: white;
          font-weight: bold;
          border: solid .5px gray;
          border-radius: 5px;
        }
      }


//left hand column
    .primaryColumn{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: auto;
      width: 63%;
    }

        .headStory{
          display: flex;
          flex-direction: row;
          height: 658px;
          width: 100%;
          margin: 10px auto 25px auto;
          border: solid grey 1px;
          border-radius: 5px;
          margin: 0 15px 50px 15px;
          background-image: url("../imgs/lillard.jpg");
          background-size: cover;
          .topRow{
            display: flex;
            width: 700px;
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            font-weight: bold;
            .button{
              display: flex;
              flex-direction: row;
            .report{
              display: flex;
              width: 100%;
              height: 100px;
              align-items: flex-end;
              justify-content: flex-start;

            }
          }
        }
      }

        .relatedNews{
          display: flex;
          width: 100%;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          color: white;
          margin: 0 0 50px 0;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          color: #acacad;

          .relatedNewsHeader{
            display: flex;
            width: 100%;
            align-content: center;
            justify-content: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            color: #acacad;
            margin: 0 0 15px 0;

          }
          .relatedNewsLinks{
            display: flex;
            width: 100%;
            align-content: center;
            justify-content: center;
            justify-content: space-around;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            color: #acacad;
            border: solid grey .5px;
            border-radius: 5px;
            hover: pointer;

          }
        }

        //beginning of small headline cards

        .subContentRow{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          align-content: center;
          justify-content: center;
          justify-content: space-around;
          color: white;
          .subContent{
            display: flex;
            width: 50%;
            height: 275px;
            width: 280px;
            margin: 10px 0 25px 0;
            border: solid grey 1px;
            border-radius: 5px;
            background-image: url("../imgs/lillard.jpg");
            background-size: cover;
            .topRow{
              display: flex;
              width: 100%;
              height: 100px;
              flex-direction: row;
              justify-content: space-between;
              color: white;
              font-weight: bold;
              font-size: 10px;
              .report{
                display: flex;
                width: 100%;
                height: 100px;
                justify-content: flex-start;
                font-size: 10px;
                }
              }
            }
          }
        }


    //right hand column
    .smallColumn{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: auto;
      width: 37%;


        .headLines {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          color: white;
          height: 341px;
          width: 316px;
          margin: 10px auto 25px auto;
          background-color: gray;
          border: solid grey 1px;
          border-radius: 5px;
          margin: 0 auto 62px auto;
          .card-title{
            width: 315.5px;
            background-color: #1e1f21;
            border-radius: 5px;
            color: #acacad;
          }
          ul {
            margin-left: 25px;
            li {
              color: blue;
              list-style-type: disc;
            }
          }
      }
      .subContentRowRight{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
        width: 100%;
        height: 275px;
        width: 280px;
        margin: 10px auto 25px auto;
        border: solid grey 1px;
        border-radius: 5px;
        background-image: url("../imgs/cj.jpg");
        background-size: cover;
      }
    }


  @media screen and (max-width: 1700px) {
    .smallColumn {
      display: none;
    }

    body{
      background-color: red;
    }
    .primaryColumn{
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 1699px) {
    .smallColumn {
      display: none;
    }

    .scoreRow{
      flex-wrap: wrap;
      overflow-x: scroll;
    }

    .headStory{
      margin-top: 10%;
      width: 55vw;
      height: 20vh;
    }

    .primaryColumn{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
