* {
  margin: 0;
  padding: 0; }

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #1e1f21; }
  .mainContainer .navBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    background-color: #1e1f21;
    margin: 0 0 10px 0; }
    .mainContainer .navBar .navBarLeft {
      display: flex;
      width: 500px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .mainContainer .navBar .navBarLeft .logo {
        display: flex; }
        .mainContainer .navBar .navBarLeft .logo img {
          display: flex; }
      .mainContainer .navBar .navBarLeft .menu {
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        width: 35px;
        justify-content: column;
        justify-content: space-around;
        align-content: center; }
        .mainContainer .navBar .navBarLeft .menu .menuBar {
          display: flex;
          width: 20px;
          height: 2px;
          background-color: white;
          margin: 2px 0; }
      .mainContainer .navBar .navBarLeft .topNews {
        display: flex;
        color: #acacad;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
        padding: 10px 12px 0 0;
        border-right: 0.5px solid gray; }
      .mainContainer .navBar .navBarLeft .leagues {
        width: 200px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 10px 0 0 0; }
        .mainContainer .navBar .navBarLeft .leagues .league {
          display: flex;
          color: #acacad;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: bold; }
    .mainContainer .navBar .navBarRight {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 75px 0 0; }
      .mainContainer .navBar .navBarRight .downloadPrompt {
        display: flex; }
        .mainContainer .navBar .navBarRight .downloadPrompt button {
          color: white;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          height: 40px;
          background-color: #0078fd;
          border-radius: 5px; }
  .mainContainer .mainContent {
    margin-top: 100px;
    height: 100%;
    display: flex;
    width: 55%;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap; }
    .mainContainer .mainContent .scoreRow {
      display: flex;
      width: 100%;
      height: 100px;
      justify-content: center;
      align-items: center; }
      .mainContainer .mainContent .scoreRow p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: white;
        align-self: center; }
      .mainContainer .mainContent .scoreRow .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 72px;
        width: 190px;
        margin: 10px;
        border-radius: 4px;
        background-color: #1e1f21; }
        .mainContainer .mainContent .scoreRow .box .team1 {
          justify-content: space-around;
          align-items: center;
          width: 190px;
          color: white;
          display: flex;
          height: 35px;
          font-size: 12px;
          font-weight: bold; }
          .mainContainer .mainContent .scoreRow .box .team1 img {
            display: flex;
            height: 20px; }
        .mainContainer .mainContent .scoreRow .box .team2 {
          justify-content: space-around;
          width: 190px;
          color: white;
          display: flex;
          height: 35px;
          font-size: 12px;
          font-weight: bold; }
          .mainContainer .mainContent .scoreRow .box .team2 img {
            display: flex;
            height: 20px; }
          .mainContainer .mainContent .scoreRow .box .team2 .date {
            font-weight: 100; }
      .mainContainer .mainContent .scoreRow .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 40px;
        background-color: #1e1f21;
        color: white;
        font-weight: bold;
        border: solid .5px gray;
        border-radius: 5px; }
    .mainContainer .mainContent .primaryColumn {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: auto;
      width: 63%; }
    .mainContainer .mainContent .headStory {
      display: flex;
      flex-direction: row;
      height: 658px;
      width: 100%;
      margin: 10px auto 25px auto;
      border: solid grey 1px;
      border-radius: 5px;
      margin: 0 15px 50px 15px;
      background-image: url("../imgs/lillard.jpg");
      background-size: cover; }
      .mainContainer .mainContent .headStory .topRow {
        display: flex;
        width: 700px;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        font-weight: bold; }
        .mainContainer .mainContent .headStory .topRow .button {
          display: flex;
          flex-direction: row; }
          .mainContainer .mainContent .headStory .topRow .button .report {
            display: flex;
            width: 100%;
            height: 100px;
            align-items: flex-end;
            justify-content: flex-start; }
    .mainContainer .mainContent .relatedNews {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      color: white;
      margin: 0 0 50px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      color: #acacad; }
      .mainContainer .mainContent .relatedNews .relatedNewsHeader {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #acacad;
        margin: 0 0 15px 0; }
      .mainContainer .mainContent .relatedNews .relatedNewsLinks {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        justify-content: space-around;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #acacad;
        border: solid grey .5px;
        border-radius: 5px;
        hover: pointer; }
    .mainContainer .mainContent .subContentRow {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-content: center;
      justify-content: center;
      justify-content: space-around;
      color: white; }
      .mainContainer .mainContent .subContentRow .subContent {
        display: flex;
        width: 50%;
        height: 275px;
        width: 280px;
        margin: 10px 0 25px 0;
        border: solid grey 1px;
        border-radius: 5px;
        background-image: url("../imgs/lillard.jpg");
        background-size: cover; }
        .mainContainer .mainContent .subContentRow .subContent .topRow {
          display: flex;
          width: 100%;
          height: 100px;
          flex-direction: row;
          justify-content: space-between;
          color: white;
          font-weight: bold;
          font-size: 10px; }
          .mainContainer .mainContent .subContentRow .subContent .topRow .report {
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: flex-start;
            font-size: 10px; }
  .mainContainer .smallColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
    width: 37%; }
    .mainContainer .smallColumn .headLines {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      color: white;
      height: 341px;
      width: 316px;
      margin: 10px auto 25px auto;
      background-color: gray;
      border: solid grey 1px;
      border-radius: 5px;
      margin: 0 auto 62px auto; }
      .mainContainer .smallColumn .headLines .card-title {
        width: 315.5px;
        background-color: #1e1f21;
        border-radius: 5px;
        color: #acacad; }
      .mainContainer .smallColumn .headLines ul {
        margin-left: 25px; }
        .mainContainer .smallColumn .headLines ul li {
          color: blue;
          list-style-type: disc; }
    .mainContainer .smallColumn .subContentRowRight {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: flex-end;
      width: 100%;
      height: 275px;
      width: 280px;
      margin: 10px auto 25px auto;
      border: solid grey 1px;
      border-radius: 5px;
      background-image: url("../imgs/cj.jpg");
      background-size: cover; }
  @media screen and (max-width: 1700px) {
    .mainContainer .smallColumn {
      display: none; }
    .mainContainer body {
      background-color: red; }
    .mainContainer .primaryColumn {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 1699px) {
    .mainContainer .smallColumn {
      display: none; }
    .mainContainer .scoreRow {
      flex-wrap: wrap;
      overflow-x: scroll; }
    .mainContainer .headStory {
      margin-top: 10%;
      width: 55vw;
      height: 20vh; }
    .mainContainer .primaryColumn {
      margin-left: auto;
      margin-right: auto; } }

/*# sourceMappingURL=input.css.map */
